<% import java.util.ArrayList; %>
<% members
    private ArrayList<String> headJs = new ArrayList<String>();

    public void headJs(String path) {
        headJs.add(path);
    }

%><!DOCTYPE html>
<html>
<head>
    <title>Apps Wanted</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-wysihtml5-0.0.2.css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">

    <script src="/js/lib/wysihtml5-0.3.0.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/bootstrap-wysihtml5-0.0.2.js"></script>

    <%
    for (String js : headJs) {
        %>
        <script src="<%= js %>"></script>
        <%
    }
    %>

    <style type="text/css">
        .votes-count {
        background-color:#EEE;
        text-align: center;
        }

        .post {
        margin-bottom: 10px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>Apps Wanted!</h1>
    </div>

    <%= inheritedContent %>

</div>
</body>
</html>